* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
header {
  background-color: #FFFFFC;
  color: #000000;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* nav */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-links li {
  position: relative;
}

.nav-links li a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s ease;
  font-size: 23px;
}

.nav-links li a:hover {
  color: #6CAE75;
}

/* dropdown */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #FFFFFC;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  width: 100%;
}

.dropdown-menu li {
  width: 100%;
  text-align: center;
}

.dropdown-menu li a {
  padding: 10px;
  display: block;
  color: #000000;
  font-size: 23px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* logo */
header img {
  height: 60px;
  margin: 0;
  padding: 0;
  display: block;
}

/* hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background: black;
  height: 4px;
  width: 30px;
  margin: 5px 0;
  transition: 0.3s;
}

/* mobile Styles */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #FFFFFC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
  }
  
  .nav-links li {
    text-align: center;
    position: relative;
  }

  .hamburger {
    display: flex;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    position: relative; 
    display: none;
    width: 100%;
    background-color: #FFFFFC;
    padding: 10px 0;
  }

  .dropdown-menu li {
    text-align: center;
  }
  
  .dropdown.active .dropdown-menu{
    display: block;
  }

  .dropdown-menu.active {
    display: block;
  }
  
  
}
